.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #f8f8f8;
  border-bottom: 1px solid #999;
}

.header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.yearMonth {
  font-size: 20px;
  margin: 0;
}

.nav {
  display: flex;
  font-size: 16px;
  margin-top: 10px;
}

.nav .navItemBase:first-child {
  margin-left: 0;
}

.navItemBase {
  padding: 6px 0;
  margin-left: 20px;
  display: block;
}

.navItem {
  composes: navItemBase;
}

.navItem:hover {
  color: var(--color-primary);
}

.activeNavItem {
  composes: navItemBase;
  color: var(--color-primary);
  font-weight: bold;
  border-bottom: 2px solid var(--color-primary);
  padding-bottom: 4px;
}

.badgeLegend {
  display: flex;
  margin-top: 20px;
}

.badgeLegend .badge {
  margin-left: 20px;
}

.badgeLegend .badge:first-child {
  margin-left: 0;
}

@media (min-width: 900px) {
  .header .container {
    flex-direction: row;
  }
  .nav {
    margin-left: 20px;
    margin-top: 0;
  }
  .badgeLegend {
    margin-left: auto;
    margin-top: 0;
  }
}