.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #f8f8f8;
  border-bottom: 1px solid #999;
}

.header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.yearMonth {
  font-size: 20px;
  margin: 0;
}

.nav {
  display: flex;
  font-size: 16px;
  margin-top: 10px;
}

.nav .navItemBase:first-child {
  margin-left: 0;
}

.navItemBase {
  padding: 6px 0;
  margin-left: 20px;
  display: block;
}

.navItem {
  composes: navItemBase;
}

.navItem:hover {
  color: var(--color-primary);
}

.activeNavItem {
  composes: navItemBase;
  color: var(--color-primary);
  font-weight: bold;
  border-bottom: 2px solid var(--color-primary);
  padding-bottom: 4px;
}

.badgeLegend {
  display: flex;
  margin-top: 20px;
}

.dateContainer {
  border-top: 1px solid #ccc;
  padding: 30px 0;
  letter-spacing: -0.03em;
}

.dateContainer:first-child {
  border-top: 0;
}

.dateTitle {
  margin: 0;
  white-space: nowrap;
  padding-bottom: 20px;
  font-size: 20px;
}

.dateTable {
  border-collapse: collapse;
  width: 100%;
  margin-top: -14px;
}

.dateTable td {
  padding: 14px 0 0;
  vertical-align: top;
}

.titleCell {
  font-size: 16px;
}

.authorCell {
  min-width: 60px;
  padding-left: 10px !important;
  padding-top: 16px !important;
  font-size: 14px;
  color: #666;
}

.badgeCell {
  min-width: 69px;
  padding-left: 10px !important;
}

.badgeContainer {
  display: flex;
  justify-content: flex-end;
}

.badge {
  display: block;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 18px;
  width: 18px;
  height: 18px;
  border-radius: 100px;
  background-color: #666;
  color: #fff;
  cursor: default;
}

.badgeContainer .badge {
  margin-left: 5px;
}

.badgeLegend .badgeWithLabel:first-child {
  margin-left: 0;
}

.badgeWithLabel {
  display: inline-flex;
  font-size: 14px;
  margin-left: 20px;
  line-height: 1;
  align-items: center;
}

.badgeWithLabel .badge {
  margin-right: 5px;
}

@media (min-width: 900px) {
  .header .container {
    flex-direction: row;
  }
  .nav {
    margin-left: 20px;
    margin-top: 0;
  }
  .badgeLegend {
    margin-left: auto;
    margin-top: 0;
  }
  .dateContainer {
    display: flex;
  }
  .dateTitle {
    width: 130px;
    line-height: 30px;
    margin-top: -4px;
    padding-bottom: 0;
  }
  .authorCell {
    width: 170px;
    padding-left: 20px !important;
    font-size: 14px;
  }
  .badgeCell {
    width: 89px;
    padding-left: 20px !important;
  }
}